<template>
  <i :class="classes" v-on:click="clicked"></i>
</template>

<script>
export default {
  props: ["dir"],
  computed: {
    classes() {
      return "caruosel-control fa fa-2x fa-chevron-" + this.dir;
    },
  },
  methods: {
    clicked() {
      this.$emit("change-image", this.dir === "left" ? -1 : 1);
    },
  },
};
</script>

<style>
.caruosel-control {
  padding: 1rem;
  color: #fff;
  opacity: 0.85;
  z-index: 9999;
}

@media (min-width: 744px) {
  .caruosel-control {
    font-size: 3rem;
  }
}
</style>
