<template>
    <div>
        <p :class="{ contracted: isContracted }">
            <slot></slot>
        </p>
        <button
            v-if="isContracted"
            class="more_less"
            v-on:click="isContracted = false"
        >
            + More
        </button>
        <button
            v-else="isContracted"
            class="more_less"
            v-on:click="isContracted = true"
        >
            - Less
        </button>
    </div>
</template>
<script>
export default {
    data() {
        return {
            isContracted: true,
        };
    },
};
</script>

<style>
.about button.more_less {
    background: transparent;
    border: 0;
    color: #008489;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
}

p {
    white-space: pre-wrap;
}

p.contracted {
    height: 250px;
    overflow: hidden;
}

.about button.more_less:hover,
.about button.more_less:focus,
.about button.more_less:active {
    text-decoration: underline;
    outline: none;
}
</style>
