<template>
	<div class="header">
		<div class="header_image" v-bind:style="headerImageStyle" v-on:click="$emit('header-clicked')">
			<listing-save :id="id" :button="true"></listing-save>
			<button class="view-photos">View Photos</button>
		</div>
	</div>
</template>
<script>
import ListingSave from "./ListingSave.vue";
export default {
	computed: {
		headerImageStyle() {
			return {
				"background-image": `url(${this.imageUrl})`
			};
		}
	},
	props: ["image-url", "id"],
	components: {
		ListingSave
	}
};
</script>
<style>
.header {
	height: 320px;
}

.header .header_image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #f5f5f5;
	height: 100%;
	cursor: pointer;
	position: relative;
}

.header .header_image .view-photos {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
</style>
