<template>
  <div class="image-caruosel">
    <img :src="image" />
    <div class="controls">
      <caruosel-control dir="left" v-on:change-image="changeImage"></caruosel-control>
      <caruosel-control dir="right" v-on:change-image="changeImage"></caruosel-control>
    </div>
  </div>
</template>

<script>
import CaruoselControl from "../components/caruosel-control.vue";
export default {
  props: ["images"],
  components: {
    CaruoselControl
  },
  data() {
    return {
      index: 0
    };
  },
  computed: {
    image() {
      return this.images[this.index];
    }
  },
  methods: {
    changeImage(val) {
      let newVal = this.index + parseInt(val);
      if (newVal < 0) {
        this.index = this.images.length - 1;
      } else if (newVal === this.images.length) {
        this.index = 0;
      } else {
        this.index = newVal;
      }
    }
  }
};
</script>

<style>
.image-caruosel {
  height: 100%;
  margin-top: -12vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-caruosel img {
  width: 100%;
}

.image-caruosel .controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
</style>
