<template>
	<div>
		<header-image
			v-if="listing.images[0]"
			:image-url="listing.images[0]"
			@header-clicked="openModal"
			:id="listing.id"
		></header-image>
		<div class="listing-container">
			<div class="heading">
				<h1>{{ listing.title }}</h1>
				<p>{{ listing.address }}</p>
			</div>
			<hr />
			<div class="about">
				<h3>About this listing</h3>
				<contract-text>{{ listing.about }}</contract-text>
			</div>
			<div class="lists">
				<feature-list title="Amenities" v-bind:items="listing.amenities">
					<template slot-scope="amenity">
						<i class="fa fa-lg" v-bind:class="amenity.icon"></i>
						<span>{{ amenity.title }}</span>
					</template>
				</feature-list>

				<feature-list title="Prices" v-bind:items="listing.prices">
					<template slot-scope="price">
						{{ price.title }}:
						<strong>{{ price.value }}</strong>
					</template>
				</feature-list>
			</div>
			<!-- Lists-->
		</div>
		<!--container -->
		<modal-window ref="imageModal">
			<image-caruosel :images="listing.images"></image-caruosel>
		</modal-window>
	</div>
</template>

<script>
import { populateAmenitiesAndPrices } from "../js/helpers";

import HeaderImage from "../components/HeaderImage.vue";
import ModalWindow from "../components/ModalWindow.vue";
import ImageCaruosel from "../components/ImageCaruosel.vue";
import FeatureList from "../components/FeatureList.vue";
import ContractText from "../components/ContractText.vue";

export default {
	components: {
		ImageCaruosel,
		ModalWindow,
		FeatureList,
		HeaderImage,
		ContractText
	},
	computed: {
		listing() {
			return populateAmenitiesAndPrices(
				this.$store.getters.getListing(this.$route.params.listing)
			);
		}
	},
	methods: {
		openModal() {
			this.$refs.imagemodal.modalOpen = true;
		}
	}
};
</script>
<style>
.heading {
	margin-bottom: 2em;
}

.heading h1 {
	font-size: 32px;
	font-weight: 700;
}

.heading p {
	font-size: 15px;
	color: #767676;
}

.about {
	margin: 2em 0;
}

.about h3 {
	font-size: 22px;
}
</style>
