body {
	font-family: 'Open Sans', sans-serif;
	color: #484848;
	font-size: 17px;
	margin: 0;
}

.container {
	margin: 0 auto;
}

@media (min-width: 744px) {
	.container {
		width: 696px;
	}
}

.heading {
	margin-bottom: 2em;
}

.heading h1 {
	font-size: 32px;
	font-weight: 700;
}

.heading p {
	font-size: 15px;
	color: #767676;
}

.about {
	margin-top: 2em;
}

.about h3 {
	font-size: 22px;
}

button {
	text-align: center;
	vertical-align: middle;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	font-weight: bold;
	line-height: 1.43;
	background: white;
	color: #484848;
	padding: 7px 18px;
	font-size: 14px;
}

html,
body {
	overflow-x: hidden;
}

.home-container {
	margin: 0 auto;
	padding: 0 25px;
}
@media (min-width: 1131px) {
	.home-container {
		width: 1080px;
	}
}
.listing-container {
	margin: 0 auto;
	padding: 0 12px;
}
@media (min-width: 744px) {
	.listing-container {
		width: 696px;
	}
}
.saved-container {
	margin: 0 auto;
	padding: 0 25px;
}
@media (min-width: 1131px) {
	.saved-container {
		width: 1095px;
		padding-left: 40px;
		margin-bottom: -10px;
	}
}

.login-container {
	margin: 0 auto;
	padding: 0 12px;
}
@media (min-width: 374px) {
	.logincontainer {
		width: 350px;
	}
}
input[type='text'] {
	-webkit-appearance: none;
}
